* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.entire-head {
  background-image: url(Images/brushed-metallic-background_1048-120.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-flex;
  height: 200px;
  width: 100%;
}

.lp-head {
  display: flex;
  height: 100%;
  width: 40%;
}

.lp-button {
  align-self: flex-end;
  background-color: inherit;
  border: none;
  display: inline-flex;
  height: 50px;
  margin: 0 0 20px 20px;
  width: 33%;
}

.lp-left-icon-image,
.lp-center-icon-image,
.lp-right-icon-image {
  display: inline;
  padding-top: 15px;
  width: 35px;
}

.lp-left-icon-para,
.lp-center-icon-para,
.lp-right-icon-para {
  display: inline;
  font-size: 20px;
  margin-left: 10px;
  text-shadow: 1px 1px #0068FF;
}

.lp-left-icon-para:hover,
.lp-center-icon-para:hover,
.lp-right-icon-para:hover {
  color: white;
}


.rp-head {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 60%;
}

.rp-button {
  align-self: flex-end;
  background-color: inherit;
  border: none;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 30px 50px 0;
}

.rp-top-icon {
  width: 30%;
}

.rp-bottom-icon {
  width: 40%;
}

.rp-top-icon-image {
  width: 50px;
}

.rp-top-icon-para {
  font-size: 20px;
  margin-top: 10px;
  text-shadow: 1px 1px #0068FF;
}

.rp-top-icon-para:hover {
  color: white;
}

.rp-bottom-icon-para {
  display: inline-flex;
  font-size: 5.0em;
  margin-top: 0;
  text-shadow: 2px 2px #0068FF;
}

.rp-bottom-icon-para:hover {
  color: white;
}

.rp-bottom-icon-image {
  display: inline-flex;
  height: 60px;
  width: 60px;
}

.entire-bottom {
  background-image: url(Images/wood-texture-background_1404-93.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: black;
  font-size: 50px;
  margin: 0 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-shadow: 3px 3px #0068FF;
}

.all-cards {
  background-image: url(Images/wood-texture-background_1404-93.jpg);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cards {
  border: 3px solid black;
  box-shadow: 20px 20px 0 0 black;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.card-top {
  display: flex;
  height: 35%;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sport1 {
  background-image: url(Images/biking.jpg);
}

.sport2 {
  background-image: url(Images/blueboarding.jpg);
}

.sport3 {
  background-image: url(Images/surfing.jpg);
}

.sport4 {
  background-image: url(Images/rockClimbing.jpeg);
}

.sport5 {
  background-image: url(Images/skier.jpg);
}

.sport6 {
  background-image: url(Images/KAyaking.jpg);
}

.sport7 {
  background-image: url(Images/skydiving.jpg);
}

.sport8 {
  background-image: url(Images/hiking.jpg);
}

.card-bottom {
  background-color: #DBD9FF;
}

.card-icons {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin: 50px 20px;
}

.card-icons:hover {
  background-color: red;
}

.card-title {
  color: white;
  font-size: 20px;
  margin: 40px 20px;
  text-align: center;
}


@media (max-width: 1050px) {
  .rp-button {
    width: 40%;
  }
  .rp-bottom-icon-para {
    font-size: 4.5em;
  }
  /*.rp-bottom-icon-image {

  }*/
}

@media (max-width: 975px) {
  .rp-button {
    width: 50%;
  }
}

@media (max-width: 775px) {
  .rp-button {
    width: 60%;
  }
}

@media (max-width: 650px) {
  
}
